* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center; /*căn giữa heo chiều dọc*/
    align-items: center;
}

.form {
    background-color: white;
    padding: 20px 24px;
    border-radius: 8px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.form-heading {
    text-align: start;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.form-label {
    font-weight: 700;
    text-align: start;
}

.form-input {
    height: 36px;
    padding: 0 16px;
    outline: none;
    border: 1px solid #dadada;
    border-radius: 4px;
}

.form-input:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-input:focus {
    border-color: blue;
}

.button {
    height: 36px;
    padding: 0 16px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.button:hover {
    background-color: blue;
    color: white;
}

.button-blue {
    background-color: blue;
    color: #fff;
}

.redirect {
    text-align: center;
    margin-top: 24px;
}

img {
    width: 20px;
    height: 20px;
}

